<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>EF1F0ADB-1A4D-411A-9BDB-FF9837072CB2</string>
			<string>zen-balance-outward-2</string>
			<string>zen-remove-tag-3</string>
			<string>FC3E137B-6E92-40C9-BAF6-ED13182D7269</string>
			<string>73A48D2B-D843-42A1-A288-0D1A6380043B</string>
			<string>16E77FF0-4AA7-4592-A080-8DACD8967C37</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>16E77FF0-4AA7-4592-A080-8DACD8967C37</key>
			<dict>
				<key>items</key>
				<array>
					<string>ABDF10D5-DDD1-41D5-B026-D84803321E2F</string>
					<string>020EAAC5-933E-4DF1-8466-962DC420BAAB</string>
				</array>
				<key>name</key>
				<string>Python</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>kCode</string>
	<key>ordering</key>
	<array>
		<string>EF1F0ADB-1A4D-411A-9BDB-FF9837072CB2</string>
		<string>zen-remove-tag-3</string>
		<string>zen-balance-outward-2</string>
		<string>FC3E137B-6E92-40C9-BAF6-ED13182D7269</string>
	</array>
	<key>uuid</key>
	<string>3F3B4BEF-F826-47EA-8575-876F1AEBB999</string>
</dict>
</plist>
